*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 238, 246);
}

.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 50px;
    border: 2px solid black;
    box-shadow: 10px 10px 25px rgb(11, 37, 82);
}

h1{
    text-align: center;
}

h2{
    margin-bottom: 10px;
}

.JogoVelha{
    display: grid;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px 10px;
    font-family: cursive;
    grid-template-columns: 1fr 1fr 1fr; 
    /*cria três espaços com tamanhos iguais que aumentam e diminuem de acordo com o espaço disponível*/
}

.JogoVelha button{
    width: 100px;
    height: 100px;
    margin: 3px;
    cursor: pointer;
    font-size: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
}

#vez{
    text-align: center;
    margin-top: 15px;
}