*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1{
    text-align: center;
    margin: 20px 0px;
}

.JogoVelha{
    display: grid;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px 10px;
    font-family: cursive;
    grid-template-columns: 1fr 1fr 1fr; 
    background-color: rgba(0, 67, 126, 0.859);
    /*cria três espaços com tamanhos iguais que aumentam e diminuem de acordo com o espaço disponível*/
}

.JogoVelha button{
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

#vez{
    text-align: center;
    margin-top: 15px;
}